.game-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.score-row {
    display: flex;
    justify-content: center;
}

.score-board {
    margin: 5px;
}

.buttons {
    margin: 5px;
}